# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Tensorflow 
3. numpy

|  Data Science Tools |
|---------------------|
|    TensorFlow      |
|      PyTorch       |
|    MatPlotLib      |

### Below are a few examples of evaluating arithmetic expressions in Python
1. + (Addition)
2. * (Multiplication)
3. % (Remainder)

In [6]:
# This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

In [11]:
200/60

3.3333333333333335

Objectives:
- C++
- Python 
- julia
- javascript

## Author
Layan Nasser